Repository photonle/Photon, pull requests merged in 2019-12, with the labels that each got.

#116 Fixed emv_sirens suggestions.
  lua/autorun/photon/cl_emv_listener.lua
Labels: bug, enhancement

#117 Redid 80k. Replaced Galls Street Thunder siren tone.
  lua/autorun/photon/library/emv_sirens.lua
  sound/emv/sirens/federal sig 80k/emv_hilo.wav
  sound/emv/sirens/federal sig 80k/emv_horn.wav
  sound/emv/sirens/federal sig 80k/emv_manual.wav
  sound/emv/sirens/federal sig 80k/emv_phaser.wav
  sound/emv/sirens/federal sig 80k/emv_wail.wav
  sound/emv/sirens/federal sig 80k/emv_yelp.wav
  sound/emv/sirens/galls street thunder 800/emv_phaser.wav
  sound/emv/sirens/galls street thunder 800/emv_thunder.wav
Labels: library

#119 Added Deprecation Warning for Auto Components.
  lua/autorun/photon/library/auto/whelen_ion_split.lua
  lua/autorun/photon/library/auto/whelen_ion_split_interior.lua
  lua/autorun/photon/library/emv_auto.lua
  lua/autorun/photon/sh_emv_vehicles.lua
Labels: feature, library
